<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit the article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Edit the article</h1>
    <div th:each="el : ${post}">
        <form method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Enter a new name" class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Enter an new anons" class="form-control"><br>
            <textarea name="fullText" placeholder="Enter a new full text" class="form-control" th:text="${el.fullText}"/><br>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>